<!-- first div block (container-fluid)-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1 col-12"></div>
      <!-- begining second column -->
      <div class="col-sm-8 col-12">


<div [innerHtml] ="pageContent"></div>

      </div> <!-- Ending second column -->

      <div class="col-sm-3 col-12 ">         <!-- Starting third column -->
       <div class="row">

        <ul class="list-group mt-2">
          <a class="list-group-item list-group-item-Primary"><b>Related Articles.</b></a>
          <a class="list-group-item list-group-item-secondary list-hover" href="#">Getting started with
            apachy-derby.</a>
          <a class="list-group-item list-group-item-dark list-hover">Morbi leo risus</a>
          <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>
          <a class="list-group-item list-group-item-dark list-hover" list-hover>Vestibulum at eros</a>
          <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>

        </ul>

      </div> 
      <div class="row">

        <ul class="list-group mt-2">
          <a class="list-group-item list-group-item-Primary"><b>Tags  </b></a>
          <a class="list-group-item list-group-item-secondary list-hover" href="#">Getting started with
            apachy-derby.</a>
          <a class="list-group-item list-group-item-dark list-hover">Morbi leo risus</a>
          <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>
          <a class="list-group-item list-group-item-dark list-hover" list-hover>Vestibulum at eros</a>
          <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>

        </ul>

      </div> 
    </div><!-- Ending third columns -->

    
    </div><!-- Ending first row -->

    <!-- Ending fist div block(conrainer-fluid) -->
  </div>