<div class="container-fluid">
  <div class="row">
      <div class="col-sm-1 col-12"></div>
    <div class="col-sm-8 col-12">
      <div class="row">
        <div class="col-sm  my-1">
          <div class="card">
              <img class="card-img-top" src="./assets/images.jpeg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm  my-1">
          <div class="card">
              <img class="card-img-top" src="./assets/images.jpeg" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
               <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
       
        <div class="col-sm">
          <div class="card">
              <img class="card-img-top" src="./assets/images.jpeg" alt="Card image cap">

            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
  
     
      
      </div>
       
      <div class="row">
          
            <div class="col-sm">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
        
        </div>
    </div>
    <div class="col-sm-3 col-12 "> 
      
        <ul class="list-group mt-2">
            <a class="list-group-item list-group-item-Primary"><b>Popular Articles.</b></a>
            <a class="list-group-item list-group-item-secondary list-hover" href="#">Getting started with apachy-derby.</a>
            <a class="list-group-item list-group-item-dark list-hover">Morbi leo risus</a>
            <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>
            <a class="list-group-item list-group-item-dark list-hover" list-hover>Vestibulum at eros</a>
            <a class="list-group-item list-group-item-secondary list-hover">Porta ac consectetur ac</a>

          </ul>
        
    </div>
  </div>
</div>